@import url(https://fonts.googleapis.com/css?family=Raleway:400,300);

/* set default values of body html */
body {
  padding:10px;
  font-size: 18px;
  font-family: "Raleway", Georgia, Serif;
}

/* centers and adjusts size of canvas for audio visual*/
#audio-box {
	text-align: center;
}

#analyser {
	padding: 0.25em;
	width: 500px;
	height: 100px;
	background: linear-gradient(white, #eee);
}

/* apply italic and pointer on hovered rows*/
.clickable:hover {
	cursor: pointer;
	font-style: italic;
}

/* resize error message*/
.error {
	font-size: 15px;
}

/* size table labels and bold them*/
.labels {
	font-size: 20px;
	font-weight: bold;
}

/* centers the volume controls icon*/
.volume-ctrl {
	width: 100%;
	text-align: center;
}

.volume-ctrl i {
	font-size: 2em;
	padding: 1em;
}

/* pad the two divs on top of screen*/
.logo, .userInput  {
	padding: 2em;
}

/* align logo on top left*/
.logo {
	text-align: center;
	background-color: white;
}

/* border album image if any with fixed height and padding*/
.album-img {
	padding:10px;
  	border:1px solid black;
	height: 350px;
}

/* push down the user input bar*/
.userInput {
	margin-top: 5em;

}