<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Spotify Challenge</title>
		
		<!-- Include libraries -->
		<script src="https://code.jquery.com/jquery.min.js"></script>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"></script>
		
		<!-- Read scripts -->
		<script src="js/app.js"></script>
		<link href="css/app.css" type="text/css" rel="stylesheet"/>	
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

		
	</head>

	<body>

		
		<!-- initiates the application -->
		<div ng-app="myApp" ng-controller="myCtrl" class='container'>
			<!-- create the form to be filled out by client -->
			<div class='row'>
				<div class='container col-md-6 logo'>
					<img class='album-img animate-show' ng-src="{{displayImage}}" alt="spotify" fade-in>

				</div>

				<form name="songForm" class='col-md-6 userInput'>
					<div class="form-group">
						<label class='labels'>Spotify Search:</label>
						<input name="search" placeholder="Enter search here..." ng-model="track" class="form-control" required>
						</input>
						<span style="color:red" ng-show="songForm.search.$dirty && songForm.search.$invalid">
							<span class='error' ng-show="songForm.search.$error.required">Input is required.</span>
						</span>
					</div>

					<div class="form-group">
						<button ng-disabled="songForm.search.$invalid" class="btn btn-primary" ng-click="getSongs()" type="submit">Submit</button>
					</div>
				</form>
			</div>
			
			<!-- displays the results -->
			<div class="container">
				<div class="volume-ctrl">
					<span ng-show="tracks.length > 0">
						<i class="fa fa-volume-off clickable" ng-click='volumeChange(0)'></i>
						<i class="fa fa-volume-down clickable" ng-click='volumeChange(-0.1)'></i>
						<i class="fa fa-volume-up clickable" ng-click='volumeChange(0.1)'></i>

					</span>	
				</div>

				<!-- audio visual here -->
				<div id='audio-box' class='container' ng-show="tracks.length > 0">
					<canvas id='analyser'>
						
					</canvas>
				</div>


				<!-- creates table for all searched results-->
				<table class="table table-hover" ng-show='submission'>
					<thead>
						<tr>
							<td>
								<a class='labels' href="" ng-click='sortType="track.name"'>Song</a>
							</td>
							<td>
								<a class='labels' href="" ng-click='sortType="track.artists[0].name"'>Artist</a>
							</td>
							<td>
								<a class='labels' href="" ng-click='sortType="popularity"'>Popularity</a>
							</td>
						</tr>
					</thead>

					<tbody>
						<tr class='clickable' ng-repeat="track in tracks | orderBy: sortType | filter: search" ng-click="play(track)">

							<td>
								<i class="fa fa-play" ng-show='displayIcon(track)'></i>
								{{track.name}}
							</td>
							<td>{{track.artists[0].name}}</td>
							<td>{{track.popularity}}</td>
						</tr>

					</tbody>	
				</table>			
			</div>

		</div>

	</body>
</html>